.khan__buy-link {
  margin: 0 0 0 48px;
  height: 42px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  display: block;
}

.khan__buy-link::after {
  content: "\2192";
}
